body {
    border: 5px solid green;
}

#journal {
    border: 5px solid red;
}

/* #entries {
    border: 5px solid blue;
} */


/* 
#first-entry {
    border: 5px solid orange;
} */

#one-entry {
    border: 5px solid blue;
}

h2 {
    border: 5px solid orange;
}

#date {
    border: 5px solid purple;
}

.entry-image {
    width: 200px; 
    height: auto;  
    margin-top: 10px; 
}